
 /* Card Item List Container */
 .card {
    margin: 20px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 1rem;
    border-radius: 10px;
    background: var(--accent-color);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: var(--text-color);
}



/* Slider */
.container {
  font-size: 18px;
  text-transform: uppercase;
  margin: 1rem 0 10px 0; 
  color: var(--text-color); 
}

.menu-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
  transition: 10s;
}

.logos-slide img {
  height: 120px;
  width: 120px;
  object-fit: contain;
  margin: 0 40px;
}

div .logos-slide {
  margin-right: 20px;
}



/* NavBar */
.nav-contaner {
  display: flex;
  font-size: 25px;
  color: red;
}

.text-nav {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;  
  margin-left: 10px;
}

nav a.text-nav {
  margin-top: 8px;
}
a.color-text{
  color: rgb(0 0 0 / 65%);
}
a.color-text:hover{
  color: rgba(59, 59, 59, 0.65);
}

.bg-fondo {
  background-color: rgb(219, 219, 219);
}



/* Item List */
.menu-productos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.container {
  font-size: 18px;
  text-transform: uppercase;
  margin: 1rem 0 10px 0;
  color: var(--text-color);
  font-weight: bold;
}



/* Item Detail */
.producto-detalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.producto-detalle img {
  width: 100%;
}

.producto-detalle-info h3 {
  font-size: 2rem;
}



/* Item */
a{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

a.ver-mas {
  display: flex;
  width: 100%;
  background: rgb(219, 219, 219);
  color: var(--text-color);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231, 236, 236) 0px 0px 3px;
}

a.ver-mas:hover {
  background: rgb(182, 182, 182);
  color: white;
}

.card img {
  width: 218px;
  height: 270px;
  object-fit: contain;
}



/* Banner Header */
.cover {
  background-image: url(/src/data/img/11042020_iPhoneProMax_STORY_LEVEL_BANNER_1600x483.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cover-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}



/* Item Count */
.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-restar,
.btn-sumar {
  border: 0;
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  transition: .2s;
  background: rgb(219, 219, 219);
  color: var(--text-color);
  padding: 10px;
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231, 236, 236) 0px 0px 3px;
}

.agregar-al-carrito {
  width: auto;
  height: 2rem;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  transition: .2s;
  background: rgb(219, 219, 219);
  color: var(--text-color);
  padding: 10px;
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231, 236, 236) 0px 0px 3px;
  margin-top: 10px;
  text-transform: uppercase;
}

.btn-restar:hover,
.btn-sumar:hover,
.agregar-al-carrito:hover {
  background: rgb(182, 182, 182);
  color: white;
}

.numero-cantidad {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 10px 43px;
}


/* carrito */
.img-carrito {
  width: 120px;
  height: 150px;
  object-fit: contain;
  border-radius: 5px;
  margin-left: 10px;
}

.container-carrito {
  display: flex;
  flex-wrap: wrap;
}

.detalle-carrito {
  margin-left: 20px;
}

.detalle-carrito p {
  margin-bottom: 0;
}

.container-carrito {
  display: flex;
  margin-top: 30px;
  text-transform: uppercase;
}

a.ver-mas-carrito {
  display: flex;
  width: 25%;
  background: rgb(219, 219, 219);
  color: var(--text-color);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231, 236, 236) 0px 0px 3px;
}

a.ver-mas-carrito:hover {
  background: rgb(182, 182, 182);
  color: white;
}

.carrito-producto {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
  position: relative; 
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}